.cursorPointer{
    cursor: pointer;
}

.cursorPointer:hover{
    color: yellow !important;
}

.navBg{
    background-color: black;
    width:100%;
}

.anchor {
    text-decoration: none;
    color: white;
} 

.title {
    cursor: pointer;
    color: white !important;
}